@model BookingSystem.Models.CompletedCamp

@{
    ViewBag.Title = "Completed";
}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <br />
            <br />
            <h3>Upload and Extraction was successful</h3>
            <hr />
            <br />
            <br />
            <div>
                <p>School Camp: @Model.OfficialSchoolName</p>
                <p>Number of surveys processed and entered into database: @Model.NumberSurveys</p>
                <p>Number of surveys flagged and ready for validation: @Model.NumberFlaggedSurveys</p>
                <br />
            </div>

            <input onclick="location.href='@Url.Action("Index", "CompletedCamps")'" type="submit" value="Return to Completed Camps" class="btn  btn-info" />



        </div>
</div>