@model BookingSystem.Models.CompletedCamp


@{
    ViewBag.Title = "Upload";
}

<br />
<h4><strong>Upload Survey</strong></h4>
<br />
<br />


<div>
    <p><strong>Upload Surveys for @Model.OfficialSchoolName in .PDF format</strong></p>
    <br />

    <form id="upload" class="btn btn-default" method="post" enctype="multipart/form-data" action="@Url.Action("Upload", "CompletedCamps")">
        <div>
            <input name="file" type="file" class="btn btn-link" required />
            <br />
            <button type="submit" class="btn btn-block btn-primary">Import</button>

        </div>

    </form><img id="loading" src="../../processing.gif" alt="Updating ..." style="display:none" />
</div>
<br />


@section scripts {

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $("form#upload").submit(function () {
            $("img#loading").show();
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
