@model List<BookingSystem.Models.CampDate>

@{
    ViewBag.Title = "Booking";
}

<div class="row">
    <div class="col-md-6 col-md-offset-4">
        <br />
        <br />

        <h4><strong>Welcome to CSinc Camp Bookings</strong></h4>
        <br />
        <br />
        <br />

        <form asp-controller="School" asp-action="Booking" method="post">

            <div>
                <p>Please enter the following information</p>
                <br />

                <div class="form-group">
                    <label for="RollNumber">School Roll Number:</label>
                    <br />
                    <input style="width:300px" asp-for="School.RollNumber" id="txtRoll" name="RollNumber" class="form-control" required autocomplete="off" />
                    <br />
                    @Html.ActionLink("Click if organisation without school roll number", "BookingOrg", "School", new { @class = "elements" }, null)
                </div>

            </div>
            <br />
            <div>
                <br />
                <label for="Date">Choose Camp Date:</label>
                <br />
                <input style="width:300px" asp-for="School.Date" id="txtDate" name="Date" class="form-control" required autocomplete="off" />
            </div>
            <br />
            <br />
            <br />
            <input type="submit" value="Submit" class="submit btn btn-block btn-primary" />
        </form>
    </div>
</div>

<br />
<br />
<br />



<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

@section scripts {

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
                jQuery(function () {

                    var enableDays = ['@Html.Raw(string.Join("','", Model.Select(d => d.Date.ToString("dd-MM-yyyy"))))'];

                    console.log(enableDays);

                     function enableAllTheseDays(date) {
                         var fDate = $.datepicker.formatDate('dd-mm-yy', date);
                         var result = [false, ""];
                         $.each(enableDays, function(k, d) {
                         if (fDate === d) {
                             result = [true, "highlight-green"];
                         }
                         });
                         return result;
                 }

                    $("#txtDate").datepicker({
                        dateFormat: "dd/MM/yy",
                        beforeShowDay: enableAllTheseDays,
                    });
                });
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}

<style>

    .my-class a {
        background-color: #07ea69 !important;
        background-image: none !important;
        color: #ffffff !important;
    }

    .highlight-green {
        /* Cell Border Colour*/
        /*background-color: #00ff00;*/
    }

        .highlight-green a.ui-state-default {
            /* Cell Background Colour */
            background-color: #00ff00;
        }
</style>


