
@{
    ViewBag.Title = "Confirmation";
}

<div class="row">
    <div class="col-md-6 col-md-offset-4">
        <br />
        <br />
        <br />

        <h4><strong>Thank you for your booking</strong></h4>
        <h5 >We will be in touch shortly</h5>
        <br />
        <br />
        <br />
        <a href="http://csinc.ie/Home/Contact"> Return to CSinc website </a>
        <br />
        <br />
        <br />

    </div>
</div>
