
@{
    ViewBag.Title = "Confirmation";
}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <br />
            <br />
            <h3 id="confirmed">Thank you for your booking</h3>
            <h4>We will be in touch shortly</h4>
            <hr />
            <br />


            <input onclick="window.location.href = 'http://csinc.ie/Home/Contact'" type="submit" value="Return to CSinc website" class="btn  btn-info" />



        </div>
    </div>


