@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <br />
            <br />
            <h2 class="text-danger">API Error.</h2>
            <br />
            <h4>The Azure Computer Vision API has failed to return expected data.</h4>
            <h4>IIS Server will need to be restarted.</h4>
            <hr />
            <br />

        </div>
    </div>

