@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TU Dublin </h1>
    <p class="lead">Camp Booking System</p>
    <br />
    <p><a href="http://csinc.ie/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

